<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hacker News</title>
        <%- include('../partials/head'); %>
    </head>
    <body cz-shortcut-listen="true">
        <center>
            <table
                id="hnmain"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="85%"
                bgcolor="#f6f6ef"
            >
                <tbody>
                    <%- include('../partials/indexheader.ejs', { loggedIn: loggedIn, user: user}); %>
                    <tr id="pagespace" title="" style="height: 10px"></tr>
                    <tr>
                        <td>
                            <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                class="itemlist"
                            >
                                <tbody>
                                    <% for(let i = 0; i < posts.length; ++i){ %> 
                                        <% posts[i].postNumber = i; %>
                                        <% if (posts[i].type == 'post/text') { %> 
                                            <%-include('../partials/textpost.ejs', { post: posts[i], baseUrl: baseUrl }); %>
                                        <% } else { %> 
                                            <%-include('../partials/urlpost.ejs', { post: posts[i], baseUrl: baseUrl }); %> 
                                        <% } %> 
                                    <% }; %>
                                    <tr
                                        class="morespace"
                                        style="height: 10px"
                                    ></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <%- include('../partials/footer.ejs'); %>
                </tbody>
            </table>
        </center>
        <script type="text/javascript" src="./data/hn.js"></script>
    </body>
</html>
