<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hacker News</title>
        <%- include('../partials/head'); %>
    </head>
    <body cz-shortcut-listen="true">
        <center>
            <table
                id="hnmain"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="85%"
                bgcolor="#f6f6ef"
            >
                <tbody>
                    <%- include('../partials/indexheader.ejs', { loggedIn: loggedIn, user: user}); %>
                    <tr id="pagespace" title="" style="height: 10px"></tr>
                    <tr>
                        <td>
                            <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                class="itemlist"
                            >
                                <tbody>
                                    <% for( let index = 0; index < posts.length; index++ ) { %>
                                        <% posts[index].postNumber = index +1; %>
                                        <% if (posts[index].type == 'post/text') { %> 
                                            <%-include('../partials/textpost.ejs', { post: posts[index], baseUrl: baseUrl, loggedIn: loggedIn }); %>
                                        <% } else { %> 
                                            <%-include('../partials/urlpost.ejs', { post: posts[index], baseUrl: baseUrl, loggedIn: loggedIn }); %> 
                                        <% } %> 
                                    <% } %>
                                    <tr
                                        class="morespace"
                                        style="height: 10px"
                                    ></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <%- include('../partials/footer.ejs'); %>
                </tbody>
            </table>
        </center>
        <script type="text/javascript" src="./data/hn.js"></script>
    </body>
</html>
