<html lang="en" op="item">
    <head>
        <title><%= post.dataValues.title %> | Hacker News</title>
        <%- include('../partials/head'); %>
    </head>
    <body cz-shortcut-listen="true">
        <center>
            <table
                id="hnmain"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="85%"
                bgcolor="#f6f6ef"
            >
                <tbody>
                    <%- include('../partials/indexheader.ejs', { loggedIn: loggedIn, user: user}); -%>
                    <tr
                        id="pagespace"
                        title="<%= post.dataValues.title %> "
                        style="height: 10px"
                    ></tr>
                    <tr>
                        <td>
                            <table class="fatitem" border="0">
                                <tbody>
                                    <% if (post.dataValues.type == 'post/text') { %> 
                                        <%-include('../partials/textpost', { post: post, loggedIn: loggedIn }); %>
                                    <% } else if (post.dataValues.type == 'post/url', { post: post, loggedIn: loggedIn }) { %>
                                        <%-include('../partials/urlpost', { post: post, loggedIn: loggedIn }); %> 
                                    <% } else { %>
                                        <%-include('../partials/commentpost', { post: post, loggedIn: loggedIn }); %> 
                                    <% } %> 
                                    <tr style="height: 2px"></tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <%= post.dataValues.content %> 
                                        </td>
                                    </tr>
                                    <tr style="height: 10px"></tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td>
                                            <form
                                                method="post"
                                                action="http://hackers.hopto.org:13001/item/comment"
                                            >
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="<%=post.id%> "
                                                /><textarea
                                                    name="content"
                                                    rows="6"
                                                    cols="60"
                                                ></textarea>
                                                <br /><br /><input
                                                    type="submit"
                                                    value="add comment"
                                                />
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br /><br />
                            <table border="0" class="comment-tree">
                                <tbody>
                                    <% for( let index = 0; index < comments.length; index++ ) { %>
                                        <%- include('../partials/comment.ejs', { post: post, comment: comments[index].dataValues}); %> 
                                    <% } %>
                                </tbody>
                            </table>
                            <br /><br />
                        </td>
                    </tr>
                    <%- include('../partials/footer.ejs'); -%>
                </tbody>
            </table>
        </center>
        <script
            type="text/javascript"
            src="../data/hn.js"
        ></script>
    </body>
</html>
