<html lang="en" op="user">
    <head>
        <title>Profile: <%= user.username %>  | Hacker News</title>
        <%- include('../partials/head'); %>
    </head>
    <body cz-shortcut-listen="true">
        <center>
            <table
                id="hnmain"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="85%"
                bgcolor="#f6f6ef"
            >
                <tbody>
                    <tr>
                        <td bgcolor="#ff6600">
                            <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                                style="padding: 2px"
                            >
                                <tbody>
                                    <%- include('../partials/indexheader.ejs', { loggedIn: loggedIn, user: user }); %>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr
                        id="pagespace"
                        style="height: 10px"
                    ></tr>
                    <tr>
                        <td>
                            <table border="0">
                                <tbody>
                                    <tr class="athing">
                                        <td valign="top">user:</td>
                                        <td timestamp="1631965655">
                                            <a
                                                href="https://asw.raulplesa.online/user?id=<%= userProfile.id %> "
                                                class="hnuser"
                                                ><%= userProfile.username %> </a
                                            >
                                        </td>
                                    <tr>
                                        <td valign="top">API-KEY:</td>
                                        <td><%= userProfile.id %></td>
                                    </tr>

                                    <tr>
                                        <td valign="top">created:</td>
                                        <td>
                                            <a><%= moment(new Date(userProfile.createdAt)).fromNow() %></a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">karma:</td>
                                        <td><%= userProfile.karma %> </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">about:</td>
                                        <td style="overflow: hidden"><%= userProfile.about %> </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a
                                                href="https://asw.raulplesa.online/newest?by=<%= userProfile.dataValues.id %>"
                                                ><u>submissions</u></a
                                            >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a
                                                href="https://asw.raulplesa.online/threads?by=<%= userProfile.dataValues.id %>"
                                                ><u>comments</u></a
                                            >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br /><br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
        <script type="text/javascript" src="./data/hn.js"></script>
    </body>
</html>
