<html lang="en" op="user">
    <head>
        <title>Profile: <%= user.username %>  | Hacker News</title>
        <%- include('../partials/head'); %>
    </head>
    <body cz-shortcut-listen="true">
        <center>
            <table
                id="hnmain"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="85%"
                bgcolor="#f6f6ef"
            >
                <tbody>
                    <tr>
                        <td bgcolor="#ff6600">
                            <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                width="100%"
                                style="padding: 2px"
                            >
                                <tbody>
                                    <%- include('../partials/indexheader.ejs', { loggedIn: loggedIn, user: user }); %>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr
                        id="pagespace"
                        title="Profile: kigrup"
                        style="height: 10px"
                    ></tr>
                    <tr>
                        <td>
                            <form
                                class="profileform"
                                method="post"
                                action="http://hackers.hopto.org:13001/user/edit"
                            >
                                <input
                                    type="hidden"
                                    name="id"
                                    value="<%= user.id %>"
                                />
                                <table border="0">
                                    <tbody>
                                        <tr class="athing">
                                            <td valign="top">user:</td>
                                            <td timestamp="1634497981">
                                                <a
                                                    href="http://hackers.hopto.org:13001/user?id=<%= user.id %> "
                                                    class="hnuser"
                                                    ><font color="#3c963c"
                                                        ><%= user.username %> </font
                                                    ></a
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">created:</td>
                                            <td>
                                                <a> <%= moment(new Date(user.createdAt)).fromNow() %> </a
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">karma:</td>
                                            <td><%= user.karma %> </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">about:</td>
                                            <td style="overflow: hidden">
                                                <textarea
                                                    cols="60"
                                                    rows="5"
                                                    wrap="virtual"
                                                    name="about"
                                                >
<%= user.about %> </textarea
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a
                                                    href="http://hackers.hopto.org:13001/newest?by=<%= user.dataValues.id %>"
                                                    ><u>submissions</u></a
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a
                                                    href="http://hackers.hopto.org:13001/threads?by=<%= user.dataValues.id %>"
                                                    ><u>comments</u></a
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a
                                                    href="http://hackers.hopto.org:13001/liked/posts"
                                                    ><u
                                                        >upvoted submissions</u
                                                    ></a
                                                >
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a
                                                     href="http://hackers.hopto.org:13001/liked/comments"
                                                     ><u>upvoted comments</u></a>
                                             </td>
                                         </tr>
                                    </tbody>
                                </table>
                                <br /><input type="submit" value="update" />
                            </form>
                            <br /><br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
        <script
            type="text/javascript"
            src="./data/hn.js"
        ></script>
    </body>
</html>
